.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 757px;
  min-width: 1100px;
  position: relative;
  z-index: 10;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: 15;
}

.cover__title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  z-index: 22;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px;
  position: relative;
  line-height: 100%;
}

.aligned-text {
  line-height: 113%;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  align-self: flex-end;
  margin-right: -30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 22;
  position: relative;
}

.cover__description-text {
  padding: 0 78px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 1.15rem;
}

.bet-button {
  font-family: Raleway, sans-serif;
  margin-right: 50px;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 32px 10px 32px;
  font-size: 22px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}
