.footer {
  margin-top: 156px;
  margin-bottom: 88px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list-item {
  list-style-type: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-link {
  display: block;
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
